<%= form_with(model: carrier) do |form| %>
  <% if carrier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>

      <ul>
        <% carrier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :logo, style: "display: block" %>
    <%= form.text_field :logo %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
