<div id="<%= dom_id payment_term %>">
  <p>
    <strong>Name:</strong>
    <%= payment_term.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment_term.description %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment_term.payment_type %>
  </p>

  <p>
    <strong>Payment terms:</strong>
    <%= payment_term.payment_terms %>
  </p>

  <p>
    <strong>Payment terms description:</strong>
    <%= payment_term.payment_terms_description %>
  </p>

  <p>
    <strong>Payment terms conditions:</strong>
    <%= payment_term.payment_terms_conditions %>
  </p>

  <p>
    <strong>Payment terms conditions url:</strong>
    <%= payment_term.payment_terms_conditions_url %>
  </p>

  <p>
    <strong>Payment terms file:</strong>
    <%= payment_term.payment_terms_file %>
  </p>

  <p>
    <strong>Payment terms file url:</strong>
    <%= payment_term.payment_terms_file_url %>
  </p>

  <p>
    <strong>Days max number:</strong>
    <%= payment_term.days_max_number %>
  </p>

  <p>
    <strong>Days min number:</strong>
    <%= payment_term.days_min_number %>
  </p>

  <p>
    <strong>Payment period in days:</strong>
    <%= payment_term.payment_period_in_days %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= payment_term.interest_rate %>
  </p>

  <p>
    <strong>Penalty rate:</strong>
    <%= payment_term.penalty_rate %>
  </p>

  <p>
    <strong>Installments max number:</strong>
    <%= payment_term.installments_max_number %>
  </p>

  <p>
    <strong>Installments min number:</strong>
    <%= payment_term.installments_min_number %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= payment_term.installments %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= payment_term.active %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= payment_term.deleted %>
  </p>

</div>
