<div id="<%= dom_id flight_offer %>">
  <p>
    <strong>Source:</strong>
    <%= flight_offer.source %>
  </p>

  <p>
    <strong>Instant ticketing required:</strong>
    <%= flight_offer.instant_ticketing_required %>
  </p>

  <p>
    <strong>Non homogeneous:</strong>
    <%= flight_offer.non_homogeneous %>
  </p>

  <p>
    <strong>One way:</strong>
    <%= flight_offer.one_way %>
  </p>

  <p>
    <strong>Last ticketing date:</strong>
    <%= flight_offer.last_ticketing_date %>
  </p>

  <p>
    <strong>Number of bookable seats:</strong>
    <%= flight_offer.number_of_bookable_seats %>
  </p>

  <p>
    <strong>Price total:</strong>
    <%= flight_offer.price_total %>
  </p>

  <p>
    <strong>Price currency:</strong>
    <%= flight_offer.currency.name %>
  </p>

</div>
