<%= form_with(model: flight_offer) do |form| %>
  <% if flight_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight_offer.errors.count, "error") %> prohibited this flight_offer from being saved:</h2>

      <ul>
        <% flight_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.text_field :source %>
  </div>

  <div>
    <%= form.label :instant_ticketing_required, style: "display: block" %>
    <%= form.check_box :instant_ticketing_required %>
  </div>

  <div>
    <%= form.label :non_homogeneous, style: "display: block" %>
    <%= form.check_box :non_homogeneous %>
  </div>

  <div>
    <%= form.label :one_way, style: "display: block" %>
    <%= form.check_box :one_way %>
  </div>

  <div>
    <%= form.label :last_ticketing_date, style: "display: block" %>
    <%= form.date_field :last_ticketing_date %>
  </div>

  <div>
    <%= form.label :number_of_bookable_seats, style: "display: block" %>
    <%= form.number_field :number_of_bookable_seats %>
  </div>

  <div>
    <%= form.label :price_total, style: "display: block" %>
    <%= form.text_field :price_total %>
  </div>

  <div>
    <%= form.label :price_currency, style: "display: block" %>
    <%= form.text_field :price_currency %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
