<div id="<%= dom_id flight_search %>">
  <p>
    <strong>Origin:</strong>
    <%= flight_search.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight_search.destination %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= flight_search.departure_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= flight_search.return_date %>
  </p>

  <p>
    <strong>Adults:</strong>
    <%= flight_search.adults %>
  </p>

  <p>
    <strong>Children:</strong>
    <%= flight_search.children %>
  </p>

  <p>
    <strong>Infants:</strong>
    <%= flight_search.infants %>
  </p>

  <p>
    <strong>Travel class:</strong>
    <%= flight_search.travel_class %>
  </p>

  <p>
    <strong>Max Price:</strong>
    <%= flight_search.max_price %>
  </p>

  <p>
    <strong>Max Price Currency:</strong>
    <%= flight_search.max_price_currency %>
  </p>

  <p>
    <strong>Max stops:</strong>
    <%= flight_search.max_stops %>
  </p>

  <p>
    <strong>Max duration:</strong>
    <%= flight_search.max_duration %>
  </p>

  <div id="flight_offers">
    <% flight_search.flight_offers.each do |flight_offer| %>
      <%= render flight_offer %>
      <p>
        <%= link_to "Show this flight offer", flight_offer %>
      </p>
    <% end %>
  </div>
</div>