<%= form_with(model: flight_search) do |form| %>
  <% if flight_search.present? && flight_search.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight_search.errors.count, "error") %> prohibited this flight_search from being saved:</h2>
      <ul>
        <% flight_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :origin, style: "display: block" %>
    <%= form.text_field :origin %>
  </div>

  <div>
    <%= form.label :destination, style: "display: block" %>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.label :departure_date, style: "display: block" %>
    <%= form.date_field :departure_date %>
  </div>

  <div>
    <%= form.label :passengers, style: "display: block" %>
    <%= form.date_field :passengers %>
  </div>

  <div>
    <%= form.label :return_date, style: "display: block" %>
    <%= form.date_field :return_date %>
  </div>

  <div>
    <%= form.label :adults, style: "display: block" %>
    <%= form.number_field :adults %>
  </div>

  <div>
    <%= form.label :children, style: "display: block" %>
    <%= form.number_field :children %>
  </div>

  <div>
    <%= form.label :infants, style: "display: block" %>
    <%= form.number_field :infants %>
  </div>

  <div>
    <%= form.label :travel_class, style: "display: block" %>
    <%= form.text_field :travel_class %>
  </div>

  <div>
    <%= form.label :travel_class, style: "display: block" %>
    <%= form.text_field :travel_class %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :one_way, style: "display: block" %>
    <%= form.check_box :one_way %>
  </div>

  <div>
    <%= form.label :nonstop, style: "display: block" %>
    <%= form.check_box :nonstop %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
